[Unit]
Description=Certbot renewal

[Service]
Type=oneshot
ExecStart=docker run --rm \
  --entrypoint certbot \
  -v /etc/letsencrypt:/etc/letsencrypt \
  -v /etc/letsencrypt/godaddy:/secrets \
  miigotu/certbot-dns-godaddy renew --quiet
