[Unit]
Description=cloud-init seed data HTTP server
After=network.target

[Service]
Type=simple
User={{ ansible_user }}
WorkingDirectory={{ repo_dir }}
ExecStart={{ repo_dir }}/serve-cloud-init/tynet-img -dir {{ repo_dir }}/serve-cloud-init/cloud-init
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
