[Unit]
Description=Update netboot base image with security patches
After=network.target nfs-server.service

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/systemd-nspawn -D /exports/netboot/ubuntu-26.04 apt-get update
ExecStart=/usr/bin/systemd-nspawn -D /exports/netboot/ubuntu-26.04 apt-get upgrade -y
ExecStart=/usr/bin/systemd-nspawn -D /exports/netboot/ubuntu-26.04 apt-get autoremove -y
StandardOutput=journal
StandardError=journal
